<ta-table
  [headers]="displayedColumns"
  [title]="'Events Table'"
  [filters]="filters"
>
  <ng-container matColumnDef="eventType">
    <mat-header-cell *matHeaderCellDef>Event Type</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.eventType | humanize }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="severity">
    <mat-header-cell *matHeaderCellDef>Severity</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.severity | uppercase }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ta-user-cell [name]="element.user[0].name" [email]="element.user[0].email"></ta-user-cell>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.time }}</mat-cell>
  </ng-container>
</ta-table>
